body {
    color: #fff;
}

/* answer buttons */
.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    widows: 100%;
    border-radius: 4px;
    background: rgb(32, 163, 158);
    font-size: 4rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(51, 215, 209, 0.6);
    transform: scale(1.02);
    transition: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: #fff;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

/* highlight if question is answered correctly */
.correct {
    background: linear-gradient(32deg, rgb(11, 223, 145) 0%, rgb(41, 232, 82) 100%);
}

/* highlight if question is answered incorrectly */
.incorrect {
    background: linear-gradient(32deg, rgba(233, 32, 32, 1) 0%, rgba(237, 69, 69, 1) 100%);
}

/* heads up display css */
#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(255, 186, 73);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(255, 186, 73);
    width: 0%;
}

/* media query */
@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}